@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Poppins&family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Oduda;
  src: url("/oduda/Oduda-Bold-Demo.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  /* border: 1px solid red; */
}

.naviconbg {
  background: linear-gradient(
      0deg,
      rgba(60, 87, 157, 0.05),
      rgba(60, 87, 157, 0.05)
    ),
    linear-gradient(
      180deg,
      rgba(94, 255, 236, 0) 58.93%,
      rgba(227, 148, 255, 0.39) 106.94%
    );
  border: 1px solid #3c579d0d;
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  /* borderadius: 136px; */
}
.headerbg {
  background-image: url("/assets/images/headerbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.slime-text {
  background: linear-gradient(
    264.82deg,
    #5effec -5.93%,
    #2b93ea 46.53%,
    #e394ff 95.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-align: center; */
  font-weight: bold;
  font-size: 40px;
  line-height: 39px;
  letter-spacing: -2.5%;
}
h1 {
  font-family: Oduda;
  font-style: bold;
  font-size: 60px;
  line-height: 59px;
  letter-spacing: -2.5%;
  color: #3c579d;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.gradient-box {
  /* background-image: linear-gradient(#3c579d 15%, #e394ff, #5effec); */
  /* background-color: rgba(255, 255, 255, 0.22); */
  background-image: url("/assets/images/contentbg.png");
  background-size: 100% 100%;
  border: 1px solid #ffffff59;
  /* backdrop-filter: blur(20px); */
  border-radius: 16px;
}
.historybg {
  background-image: url("/assets/images/hestorybg.png");
  background-size: 100% 100%;
}

.btn {
  background-image: url("/assets/images/btn.png");
  background-size: 100% 100%;
}
.toggle-btn[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/assets/images/hestorybg.png");
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

.toggle-btn[type="checkbox"]::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/assets/images/btn.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.toggle-btn[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background-image: url("/assets/images/btn.png");
  background-size: 100% 100%;
}

.toggle-btn[type="checkbox"]:checked {
  background-image: url("/assets/images/hestorybg.png");
}
.inputbg {
  background-image: url("/assets/images/inputbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid #3c579d1c;
}
.nftbg {
  background-image: url("/assets/images/nftb.png");
  background-size: 100% 100%;
}
.headerbg-2 {
  background-image: url("/assets/images/userbg.png");
  background-size: 100%;
}
.dragbg {
  background-image: url("/assets/images/dragbg.png");
  background-size: 100% 100%;
}
.poolbg {
  background-image: url("/assets/images/poolbg.png");
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}
.lotterybg {
  background-image: url("/assets/images/lotterybg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 20px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to right, #e394ff, #316bff, #5effec);
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 2px #f2709c; */
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
